@font-face {
  font-family: GaramondPro;
  src: url(Fonts/GaramondPro.otf);
}

@font-face {
  font-family: GaramondProItalic;
  src: url(Fonts/GaramondPro_it.otf);
}

body{
  background-color: black;
  overflow: hidden;
  font-family: GaramondProItalic;
  color: white;
  font-size: 2.5vh;
}

canvas:hover{
  cursor: move;
}

.nome{
  font-family: GaramondPro;
}

/*Spinner and Tutorial style*/

.percentage {
  z-index: 100;
  text-align:center;
  font-size : 3vh;
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%,-50%);
}

#tutorial{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 1s;
}

#leftTutorial{
  position: absolute;
  left: 20vw;
  top: 50vh;
  transform: translate(0,-50%);
  width: 20vw;
  height: 33vh;
}

#rightTutorial{
  position: absolute;
  right: 20vw;
  top: 50vh;
  transform: translate(0,-50%);
  width: 20vw;
  height: 33vh;
}

#leftarrowkey{
  position: absolute;
  left: 0;
  top: 0;
  width: 10vw;
  z-index: 10;
}

#rightarrowkey{
  position: absolute;
  right: 0;
  top: 0;
  width: 10vw;
  transform: scaleX(-1);
  z-index: 10;
}

#mouse{
  position: absolute;
  left:0;
  top: 0;
  width: 5vw;
  z-index: 10;
}

#instructions{
  position: absolute;
  bottom:0;
  font-size: 3vh;
}

/*Grids Divs Style*/

#Grids1{
  position: absolute;
  top:0;
  left:50vw;
  transform: translate(-50%,0);
  width:100vw;
  height:100vh;
  transition: 1s;
}

#Grids2{
  position: absolute;
  top:0;
  left:150vw;
  transform: translate(-50%,0);
  width:100vw;
  height:100vh;
  transition: 1s;
}

#Grids3{
  position: absolute;
  top:0;
  left:-50vw;
  transform: translate(-50%,0);
  width:100vw;
  height:100vh;
  transition: 1s;
}

.grid{
  position:absolute;
  border-left: 1px solid #262626;
  top:0;
  height: 100vh;
}

#grid1, #grid10, #grid19{
  left: 10vw;
}

#grid2, #grid11, #grid20{
  left: 20vw;
}

#grid3, #grid12, #grid21{
  left: 30vw;
}

#grid4, #grid13, #grid22{
  left: 40vw;
}

#grid5, #grid14, #grid23{
  left: 50vw;
}

#grid6, #grid15, #grid24{
  left: 60vw;
}

#grid7, #grid16, #grid25{
  left: 70vw;
}

#grid8, #grid17, #grid26{
  left: 80vw;
}

#grid9, #grid18, #grid27{
  left: 90vw;
}

/*Navigation Divs Style*/

#div1{
  position: absolute;
  top:50vh;
  left:50vw;
  transform: translate(-50%,-50%);
  width: 80vw;
  height: 80vh;
  transition: 1s;
  opacity: 0;
}

#div2{
  position: absolute;
  top:50vh;
  left:150vw;
  transform: translate(-50%,-50%);
  width: 80vw;
  height: 80vh;
  transition: 1s;
}

#div3{
  position: absolute;
  top:-50vh;
  left:50vw;
  transform: translate(-50%,-50%);
  width: 80vw;
  height: 80vh;
  transition: 1s;
}

#div4{
  position: absolute;
  top:50vh;
  left:150vw;
  transform: translate(-50%,-50%);
  width: 80vw;
  height: 80vh;
  transition: 1s;
}

#div5{
  position: absolute;
  top:150vh;
  left:50vw;
  transform: translate(-50%,-50%);
  width: 80vw;
  height: 80vh;
  transition: 1s;
}

#div6{
  position: absolute;
  top:150vh;
  left:50vw;
  transform: translate(-50%,-50%);
  width: 80vw;
  height: 80vh;
  transition: 1s;
}

#div7{
  position: absolute;
  top:50vh;
  left:150vw;
  transform: translate(-50%,-50%);
  width: 80vw;
  height: 80vh;
  transition: 1s;
}

#div8{
  position: absolute;
  top:-50vh;
  left:50vw;
  transform: translate(-50%,-50%);
  width: 80vw;
  height: 80vh;
  transition: 1s;
}

#div9{
  position: absolute;
  top:50vh;
  left:150vw;
  transform: translate(-50%,-50%);
  width: 80vw;
  height: 80vh;
  transition: 1s;
}

#div10{
  position: absolute;
  top:-50vh;
  left:50vw;
  transform: translate(-50%,-50%);
  width: 80vw;
  height: 80vh;
  transition: 1s;
}

#div11{
  position: absolute;
  top:50vh;
  left:150vw;
  transform: translate(-50%,-50%);
  width: 80vw;
  height: 80vh;
  transition: 1s;
}

#div12{
  position: absolute;
  top:-50vh;
  left:50vw;
  transform: translate(-50%,-50%);
  width: 80vw;
  height: 80vh;
  transition: 1s;
}

#div13{
  position: absolute;
  top:-50vh;
  left:50vw;
  transform: translate(-50%,-50%);
  width: 80vw;
  height: 80vh;
  transition: 1s;
}

#div14{
  position: absolute;
  top:50vh;
  left:150vw;
  transform: translate(-50%,-50%);
  width: 80vw;
  height: 80vh;
  transition: 1s;
}

/*Div 1 Style*/

.Titolo{
  font-family: GaramondProItalic;
  font-size: 5vh;
}

.Titolo_big{
  font-size: 10vh;
  font-family: GaramondPro;
}

.Autore{
  position: absolute;
  bottom:0;
  font-size: 3vh;
}

/*Div 2,11,14 Style*/

#Edizione53, #Pages, #Book{
  position:absolute;
  top:0;
  left:50%;
  transform: translate(-20vw, 0);
  width:40vw;
  height:100%;
}

#canvas53, #canvaspages, #canvasbook{
  width:40vw;
  height: 70vh;
}

/*Div 3 Style*/

#Politecnico{
  width: 30vw;
}

#Americana{
  width: 40vw;
}

.Horizontal{
  position: absolute;
  top: 0;
  right: 0;
  width: 40vw;
  height: 40vh;
}

.Vertical{
  position: absolute;
  top: 0;
  left: 0;
  width: 30vw;
  height: 80vh;
}

/*Div 4,5,6 Style*/

.Citazioni{
  margin-top: -15vh;
  font-size: 4vh;
}

.autorecitazione{
  margin-top: 3vh;
  font-size: 3vh;
  opacity:0;
  transition: 0.5s;
  color:  #cccccc;
}

#citazione1, #citazione2, #citazione3{
  opacity: 0;
  line-height: 0.8;
  transition: 0.8s;
}

/*Div 7 Style*/

#a4container{
  position: absolute;
  left:0;
  top:40vh;
  transform: translate(0,-50%);
  width: 21vw;
  height: 32vw;
  opacity: 0;
  transition: 1s;
}

#a4{
  margin:0;
  width:100%;
  height:29.7vw;
  background-color: white;
}

#bookpapercontainer{
  position: absolute;
  left:40vw;
  top:40vh;
  transform: translate(-50%,-50%);
  width: 17vw;
  height: 26vw;
  transition: 1s;
}

#bookpaper{
  margin:0;
  width:100%;
  height: 24vw;
  background-color: white;
  transition: 1s;
}

#sizetext{
  transition: 0.5s;
}

#a5container{
  position: absolute;
  left:60vw;
  top:40vh;
  transform: translate(0,-50%);
  width: 14.85vw;
  height: 23vw;
  opacity: 0;
  transition: 1s;
}

#a5{
  margin:0;
  width:100%;
  height:21vw;
  background-color: white;
}

.chapterdiv{
  position: absolute;
  top:40vh;
  transform: translate(0, -50%);
  width:8vw;
  height:13vw;
  opacity:0;
  transition:1s;
}

.chapter{
  margin:0;
  width:100%;
  height:11.3vw;
  background-color: white;
}

.chaptertext{
  opacity:0;
}

#chapter2div{
  left:20vw;
}

#chapter3div{
  left:30vw;
}

#chapter4div{
  position: absolute;
  top:40vh;
  transform: translate(0, -50%);
  width:8vw;
  height:13vw;
  opacity:0;
  transition:1s;
  left:40vw;
}

#chapter5div{
  position: absolute;
  top:40vh;
  transform: translate(0, -50%);
  width:8vw;
  height:13vw;
  opacity:0;
  transition:1s;
  left:50vw;
}

#chapter6div{
  left:60vw;
}

#griglia1{
  position: absolute;
  border: 1px solid black;
  opacity: 0;
  top:2.4vw;
  left:50%;
  transform: translate(-50%,0);
  height:22.7vw;
  width:14vw;
  transition: 1s;
  z-index: 5;
}

#griglia4{
  position: absolute;
  border: 1px solid black;
  opacity: 0;
  top:1.5vw;
  left:50%;
  transform: translate(-50%,0);
  height:24.4vw;
  width:15.8vw;
  transition: 1s;
  z-index: 5;
}

#griglia5{
  position: absolute;
  border: 1px solid black;
  opacity: 0;
  top:1.2vw;
  left:50%;
  transform: translate(-50%,0);
  height:25vw;
  width:16.35vw;
  transition: 1s;
  z-index: 5;
}

#grigliaimmagine1{
  position: absolute;
  opacity: 0;
  top:2.4vw;
  left:50%;
  transform: translate(-50%,0);
  height:22.7vw;
  width:14vw;
  transition: 1s;
  background-image: url(./Images/Griglia1.png);
  background-size:cover;
}

#grigliaimmagine4{
  position: absolute;
  opacity: 0;
  top:1.5vw;
  left:50%;
  transform: translate(-50%,0);
  height:24.4vw;
  width:15.8vw;
  transition: 1s;
  background-image: url(./Images/Griglia2.png);
  background-size:cover;
}

#grigliaimmagine5{
  position: absolute;
  opacity: 0;
  top:1.2vw;
  left:50%;
  transform: translate(-50%,0);
  height:25vw;
  width:16.35vw;
  transition: 1s;
  background-image: url(./Images/Griglia3.png);
  background-size:cover;
}

/*Div 9 Style*/

.HorizontalVerySmall{
  position: absolute;
  top: 40vh;
  transform: translate(0,-50%);
  width: 20vw;
  height: 30vh;
  transition: 1s;
}

.center{
  left: 30vw;
}

.Paper{
  width: 100%;
  opacity: 0.5;
  filter: blur(10px);
}

.papercaption{
  opacity: 0;
  transition: 1s;
}

#question{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  opacity: 0;
  transition: 0.5s;
  font-size: 20vh;
  margin: 0;
  filter: blur(0);
}

/*Div 10 Style*/

.HorizontalSmall{
  position: absolute;
  top: 0;
  width: 30vw;
  height: 40vh;
}

.right{
  right: 0;
}

.left{
  left: 0;
}

.BookManifest{
  width: 30vw;
}

/*Div 10,11 Style*/

.pgimg{
  position: absolute;
  top: 40vh;
  transform: translate(0,-50%);
  width: 20vw;
  height: 28.2vw;
  background-color: white;
  transition: 1s;
  opacity: 0;
  background-size: cover;
}

.gabbia{
  position: absolute;
  opacity: 1;
  top:2.4vw;
  left:50%;
  transform: translate(-50%,0);
  width:14.1vw;
  height:22.7vw;
  transition: 1s;
  z-index: 10;
  background-size: cover;
}

.gabbia5{
  position: absolute;
  opacity: 1;
  top:1.2vw;
  left:50%;
  transform: translate(-50%,0);
  width:16.8vw;
  height:25vw;
  transition: 1s;
  z-index: 10;
  background-size: cover;
}

#pgimg1{
  opacity: 1;
  left: 30vw;
}

#pgimg1 > .gabbia, #pgimg2 > .gabbia, #pgimg3 > .gabbia{
  background-image: url(Images/Gabbia1.png);
}

#pgimg4 > .gabbia5, #pgimg5 > .gabbia5, #pgimg6 > .gabbia5{
  background-image: url(Images/Gabbia2.png);
}

#pgimg1{
  opacity: 1;
  left: 30vw;
}

#pgimg2{
  background-image: url(Images/Gabbia12.png);
}

#pgimg3{
  background-image: url(Images/Gabbia13.png);
}

#pgimg4{
  background-image: url(Images/Gabbia21.png);
}

#pgimg5{
  background-image: url(Images/Gabbia22.png);
}

#pgimg6{
  background-image: url(Images/Gabbia23.png);
}
